*{
    margin: 0px;
    padding: 0px;
    position: relative;
    box-sizing: border-box;
}

body{
    background-color:rgb(0, 0, 0);
}

.logo{
    color: rgb(255, 255, 255);
    font-size: 30px;
}

header{
    background: none;
    color: white;
}

header a.nav-link{
    color: white !important;
    margin: 0px 50px;
}

header .active{
    color: #FCA311 !important;
    padding-bottom: 1px;
    border-bottom: 1px solid #FCA311;
}

.nav-item.active a{
    color: white;
}

.welcome{
    margin-top: 100px;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FCA311;
    color: white;
}

.welcome .btn{
    border: 1px solid white;
    margin: 10px;
    color: white;
    transition: all 0.3s ease-in-out;
    width: 150px;
}


.welcome .btn:hover{
    border: 1px solid white;
    margin: 20px;
    color: white;
    transition: all 0.3s ease-in-out;
    background-color: white;
    color: black;
}

.panel{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.panel-heading{
    margin-top: 50px;
    margin-bottom: 50px;
}

.panel-body{
    margin: 0px 50px;
    margin-bottom: 50px;
}

.panel-body h4,
.panel-body h5,
.panel-body ul,
.panel-body p{
    margin: 20px 0px;
}

.panel-body img{
    margin: 20px 0px;
}


footer{
    background: #FCA311;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container.background-white{
    margin-top: 100px;
    background-color: white;
}

.container.background-white h1{
    margin-top: 50px;
    margin-bottom: 50px;
}

.embed-responsive {
    margin: 50px 50px;
    border: 2px solid rgb(70, 69, 69);
  }